<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Finance Manager{% endblock %}</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <!-- Add Bootstrap CSS -->
    <link href="{% static 'bootstrap\css\bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
   <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Finance Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.id %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'budget' %}">Budgets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_savings_goals' %}">View Savings Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_savings_goal' %}">Add Savings Goal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
    <!-- Main Content -->
    <div class="container mt-4">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white py-3 mt-auto">
        <p>&copy; 2024 Finance Manager</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap\js\bootstrap.min.js' %}"></script>
</body>
</html>
